.about {
    color: $colorGray;
    position: relative;
    

    &::after {
        content: "";
        background-image: url('./pictures/leaf3.png');
        background-repeat: no-repeat;
        display: block;
        width: 59px;
        height: 112px;
        position: absolute;
        z-index: 5;
        left: 5%;
        bottom: -10%;

        @include tablets {
            width: 75px;
            height: 120px;
        }
    }

    
    &::before {
        content: "";
        background-image: url('./pictures/leaf2.png');
        background-repeat: no-repeat;
        display: block;
        width: 141px;
        height: 105px;
        position: absolute;
        z-index: 5;
        right: 5%;
        bottom: -4%;

        @include tablets {
            width: 150px;
            height: 120px;
        }
    }

    @include tablets {
        height: 100%;
    }


}

.about__container {
        
    &::before {
        content: "";
        background-image: url('./pictures/leaf4.png');
        background-repeat: no-repeat;
        display: block;
        width: 191px;
        height: 314px;
        position: absolute;
        z-index: 20;
        left: -3%;
        bottom: 40%;
    }


    &::after {
        content: "";
        background-image: url('./pictures/berry3.png');
        background-repeat: no-repeat;
        display: block;
        width: 161px;
        height: 315px;
        position: absolute;
        z-index: 20;
        left: -3%;
        bottom: -16%;

        @include tablets {
            width: 180px;
            height: 400px;
        }
    }
}

.about__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about__title {
    color: $colorBlack;
    font-weight: 700;
    margin-bottom: 15px;

    @include tablets {
        margin: 0;
    }
}

.about__text {
    text-align: center;
}

.about__text-title {
    font-size: 27px;
    font-weight: 700;

    @include tablets {
        margin-bottom: 15px;
        line-height: 27px;
    }
}

.about__desc-text {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 60px;

    @include tablets {
        margin-bottom: 10px;
        //line-height: 18px;
    }
    
}

.about__list {
    display: flex; 
    justify-content: space-around;

    @include tablets {
       flex-direction: column;
       align-items: center;
    }
    
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 30%;
    position: relative;

    &:nth-child(2) {
        
        &::before, &::after {
            content: "";
            background-image: url('./pictures/dot.png');
            background-repeat: no-repeat;
            display: block;
            width: 67px;
            height: 21px;
            position: absolute;
            z-index: 10;
            top: 15%;

            @include tablets {
                display: none;
            }
        }

        &::before {
            left: -18%;
        }

        &::after {
            right: -18%;
        }

    }

    @include tablets {
        width: 50%;
    }
}



.about__icon {
    border-radius: 50%;
    width: 125px;    
    height: 125px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat $colorGrayLight center center;    
    margin-bottom: 30px;

    @include tablets {
        margin-bottom: 20px;
    }

} 

.about__pic {
    display: block;
    width: 75px;
    height: 75px;
    fill: #2a2a29; 
    opacity: 0.8;

}

.about__p {
    font-size: 18px;
    font-weight: 300;

    @include tablets {
        line-height: 18px;
        margin-bottom: 15px;
    }
}


