.about__title {
    font-weight: 700;
    margin-bottom: 50px;

    @include phones {
        margin-bottom: 40px;
    }
}

.about__text {
    text-align: center;
    width: 70%;
}

.about__text-title {
    font-size: 16px;
    font-weight: 700;

    @include phones {
        font-size: 14px;
    }
}

.about__desc-text {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 60px;

    @include phones {
        font-size: 12px
    }
    
}

.about__list {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;

    @include tablets {
       flex-direction: row;
       align-items: center;
    }
    
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 30%;
    margin-bottom: 30px;

    @include tablets {
        flex-direction: row;
        width: 50%;
    }

    @include phones {
        width: 45%;
        margin-right: 10px;
    }
}



.about__icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat $colorGrayLight center center;    
    margin-bottom: 30px;

    @include tablets {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    @include phones {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        margin-right: 0;
    }


} 

.about__pic {
    display: block;
    width: 60px;
    height: auto;
    fill: #2a2a29; 
    opacity: 0.8;

    @include tablets {
        width: 40px;
    }

    @include phones {
        width: 30px;
    }

}

.about__p {
    font-size: 12px;
    font-weight: 300;

    @include tablets {
        line-height: 18px;
        margin-bottom: 15px;
    }
}


