.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    width: 100%;
    
    color: $colorBlack;
    font-weight: 400;
    font-size: 21px;
}

.footer__container {
    flex-direction: row;

}

.footer__left {
    width: 50%;   
    padding: 25px;
}

.footer__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__contacts__phone {
    color: $colorGreen;
    &::before {
        background-image: url('./pictures/phone_green.png');
    }
}