.footer {
    background-color: #efefef;
    font-weight: 400;
    font-size: 21px;

    &__container {
        align-items: center;
        padding: 100px 0;
    }
}

.contacts {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
}

.locality {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

.black__ribbon {
    background-color: black;
    height: 50px;

    &__container {
        align-items: flex-end;
        justify-content: center;
    }
}

.creator {
    color: #f1b53f;
    font-size: 14px;
}

