.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 80px;

    @include tablets {
        margin-bottom: 0;
        display: none;
    }
 
}

.header__contacts {
    display: block;
    width: 40%;
    font-size: 24px;
    font-weight: 400;
}


.contacts__phone {
    white-space: nowrap;
    font-size: 30px;

    @include tablets {
        font-size: 20px;
    }
}


