.nav {

    &__item {
        margin-left: 25px;
        white-space: nowrap;

        &:last-child {
            margin-right: 0;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__link {
        font-size: 18px;
        font-weight: normal;

    }

    @include tablets {
        display: none;
    }
}


